{% extends "form_div_layout.html.twig" %}

{% block textarea_widget %}
            <textarea class="materialize-textarea" {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock textarea_widget %}

{% block file_widget %}
{% spaceless %}
<div class="file-field input-field">
    <div class="btn">
        <span><i class="fa fa-cloud-upload" aria-hidden="true"></i> {{ form.vars.label }}</span>
        {% set type = type|default('file') %}
        <input type="{{ type }}" {{ block('widget_attributes') }} />
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
    </div>
</div>
{% endspaceless %}
{% endblock file_widget %}

{%- block form_row -%}
    <div class="row">
        <div class="input-field s12">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            {{ form_label(form) }}

        </div>
    </div>
{%- endblock form_row -%}
