{% extends 'base.html.twig' %}

{% block body %}

<div id="app">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="prname">Új cím hozzáadása</h1>
				<hr>
				<div class="sidenav center">
					<a class="waves-effect grey darken-3 btn" href="{{ path('users.settings') }}">Profilom szerkesztése</a>
					<a class="waves-effect grey darken-3 btn" href="{{ path('users.addresses') }}">Címeim szerkesztése</a>
				</div>
				{{ form_start(form) }}
				{{ form_row(form.country) }}
				{{ form_row(form.zipCode) }}
				{{ form_row(form.city) }}
				{{ form_row(form.state) }}
				{{ form_row(form.street) }}
				{{ form_row(form.streetNumber) }}
				{{ form_row(form.floor) }}
				{{ form_row(form.door) }}
				<div class="center">
						<button class ="waves-effect waves-light btn grey darken-4" type="submit">Cím hozzáadás</button>
				</div>
				{{ form_end(form) }}
				<h1 class="prname">Meglévő címeim</h1>
				<hr>
				<table class="striped">
					<thead>
						<tr>
							<th>Cím</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					{% for a in addresses %}
							<tr>
								<td>{{ a.getFullAddress() }}</td>
								<td><a class="waves-effect grey darken-3 btn" href="{{ path('user.addresses.edit', {'id': a.id}) }}">Szerkesztés</a></td>
								<td><a class="waves-effect grey darken-3 btn" href={{ path('users.addresses.delete', {'id': a.id}) }}>Törlés</a></td>
							</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
