{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="prname">Bejelentkezés</h1>
        <hr>
        <div class="login z-depth-5">
          {% if error %}
              <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}

          <form action="{{ path('users.login') }}" method="post">
              <label for="username">Email:</label>
              <input type="text" id="username" name="_username" value="{{ last_username }}" />

              <label for="password">Password:</label>
              <input type="password" id="password" name="_password" />

              <button class="btn waves-effect waves-light grey darken-3 login__btn" type="submit">Login</button>
          </form>
          <div class="center">
              <h5 class="reg__noth">Még nincs fiókja?</h5>
              <button class="btn waves-effect waves-light grey darken-3" type="submit">
                  <a href="{{ path('users.registration') }}">Regisztráció</a>
              </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
