{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
	<div class="container">
    <div class="row">
      <div class="col s12">
        <h1 class="prname">Regisztráció</h1>
        <hr>
				<div class="login z-depth-5">
					{{ form_start(form) }}
					{{ form_row(form.email) }}
					{{ form_row(form.plainPassword.first) }}
					{{ form_row(form.plainPassword.second) }}
					{{ form_row(form.firstName) }}
					{{ form_row(form.lastName) }}
					{{ form_row(form.phoneNumber) }}

					<button class="btn waves-effect waves-light grey darken-3 login__regbtn" type="submit">Regisztráció</button>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
