{% extends 'base.html.twig' %}

{% block body %}

<div id="app">
	<div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="prname">Beállítások</h1>
				<hr>
				<div class="sidenav center">
					<a class="waves-effect grey darken-3 btn"  href="{{ path('users.settings') }}">Profilom szerkesztése</a>
					<a class="waves-effect grey darken-3 btn" href="{{ path('users.addresses') }}">Címeim szerkesztése</a>
				</div>
				{{ form_start(form) }}
				{{ form_row(form.email) }}
				{{ form_row(form.plainPassword.first) }}
				{{ form_row(form.plainPassword.second) }}
				{{ form_row(form.firstName) }}
				{{ form_row(form.lastName) }}
				{{ form_row(form.phoneNumber) }}
				<div class="center">
						<button class ="waves-effect waves-light btn grey darken-4" type="submit">Mentés</button>
				</div>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
{% endblock %}
