{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
	<div class="container">
	  <div class="row">
			<h1 class="prname">Kategóriák</h1>
			<hr>
			{% for c in categories %}

			<div class="col s4">
					<div class="card">
							<div class="card-image">
									<img src="{{ asset('uploads/images/categories/')}}{{ c.getImage() }}">
							</div>
							<div class="card-action">
									<a class="card-title grey-text text-darken-4" href="{{ path('categories.productsById', {'id': c.id}) }}">{{ c.getName() }}</a>
							</div>
					</div>
			</div>

	    <!--<div class="col s2 center">
				<a href="{{ path('categories.productsById', {'id': c.id}) }}">
		      <div class="panel panel-primary">
		        <div class="categname">{{ c.getName() }}</div>
		        <div class="panel-body">
							{% if c.getImage() is not empty %}
								<img src="{{ asset('uploads/images/categories/')}}{{ c.getImage() }}" class="img-responsive category_image" alt="Category Image">
							{% endif %}
						</div>
		      </div>
				</a>
	    </div>-->
			{% endfor %}

	  </div>
	</div>

</div>
{% endblock %}
