{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
	{% if categories is not empty %}
		<div class="container">
			  <div class="row">
						<h1 class="prname">{{ currentCategory.getName() }}</h1>
						<hr>
						{% for c in categories %}
								<div class="col s4">
										<div class="card">
												<div class="card-image">
														<img class="crdimages" src="{{ asset('uploads/images/categories/')}}{{ c.getImage() }}">
												</div>
												<div class="card-action">
														<a class="card-title grey-text text-darken-4" href="{{ path('categories.productsById', {'id': c.id}) }}">{{ c.getName() }}</a>
												</div>
										</div>
								</div>
						{% endfor %}
			  </div>
		</div>
	{% endif %}

	{% if products is not empty %}
		<div class="container">
		  <div class="row">

				{% for p in products %}
			    <div class="col s3 center">
			      <div class="productbox z-depth-5">
							<a href="{{ path('product.data', {'id': p.getId()}) }}">
			        	<div class="productbox__title">{{ p.getName() }}</div>
							</a>
			        <div class="panel-body">
								<a href="{{ path('product.data', {'id': p.getId()}) }}">
									{% if p.getImage() is not empty %}
										<img src="{{ asset('uploads/images/')}}{{ p.getImage() }}" class="productbox__img" alt="Product Image">
									{% endif %}
									<span class="new badge grey darken-4 badgeQuantity" data-badge-caption="Darab">Raktáron: {{ p.getQuantity() }}</span>
								</a>
							</div>
			        <div class="panel-footer">
								<ul>
									<li class="productbox__price">{{ p.getResultOfDiscount() }} Ft</li>
								</ul>
								<div class="js-cartadd productbox__input">
										<input type="number" max="{{p.getQuantity()}}" min="1" value="1"/>
										<a class="productbox__cart" href="{{ path('cartadd', {'id': p.getId(), 'count': '1'}) }}"><i class="fa fa-cart-plus" aria-hidden="true"></i> Kosárba</a>
								</div>
							</div>
			      </div>
			    </div>
				{% endfor %}

		  </div>
		</div>
	{% endif %}
</div>
{% endblock %}
