<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Fashopper - Ruházati webáruház{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('icon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('libs/materialize.css') }}"/>
        <link rel="stylesheet" href="{{ asset('libs/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    </head>
    <body>
        <div class="container-fluid grey lighten-4">
            {% include 'includes/topmenu.html.twig' %}
            {% block body %}{% endblock %}
            {% include 'includes/footer.html.twig' %}
            {% block javascripts %}
                <script src="{{ asset('js/vendors.js') }}"></script>
                <script src="{{ asset('js/bundle.js') }}"></script>
                <script src="{{ asset('libs/materialize.min.js') }}"></script>
                <script src="{{ asset('libs/slider.js') }}"></script>
                <script src="{{ asset('libs/media.js') }}"></script>
                <script src="{{ asset('libs/number.js') }}"></script>
            {% endblock %}
        </div>
    </body>
</html>
