{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
		<div class="container">
			<div class="row">
				<div class="col s12 center">
					<h1 class="prname">Kosaram</h1>
					<hr>
					<table class="striped">
			        <thead>
				          <tr>
											<th></th>
				              <th>ID</th>
				              <th>Termék megnevezése</th>
											<th>Kívánt mennyiség</th>
											<th>Egységár</th>
											<th></th>
											<th></th>
											<th></th>
				          </tr>
			        </thead>
			        <tbody>
								{% for item in cartcontent %}
				          <tr>
										<td>
												{% if item.image is not empty %}
												<img style="width:100px;height:100px;border:solid 1px;" src="{{ asset('uploads/images/')}}{{item.image}}" alt="Product Image" class="list-img">
												{% endif %}
										</td>
				            <td>{{item.id}}</td>
				            <td>{{item.name}}</td>
										<td>{{item.count}}</td>
				            <td>{{item.price}}</td>
				            <td>
												<div class="js-cartdelete">
												<input type="number" max="{{item.max}}" min="1" value="1"/>
												</div>
										</td>
										<td>
												<div class="js-cartdelete">
												<a class="waves-effect red darken-4 btn" href="{{ path('cartdelete', {'id' : item.id, 'count' : 1}) }}">
													<i class="fa fa-trash" aria-hidden="true"></i>
												</a>
												</div>
										</td>
										<td>
												<div class="js-cartdelete">
												<a class="waves-effect red accent-4 btn" href="{{ path('cartdelete', {'id' : item.id, 'count' : 0}) }}">Összes Törlése</a>
												</div>
										</td>
				          </tr>
									{% endfor %}
			        </tbody>
		      </table>
				<h3>Végösszeg:
					{% if cart.fillUserCart() != NULL %}
					{% set sum = 0 %}
					{% for item in cart.fillUserCart() %}
						{% set sum = sum + (item.price * item.count) %}
					{% endfor %}
						{{sum}}
					{% endif %}
				Ft</h3>
				</br>
				{% if is_granted("ROLE_USER") %}
				{{ form_start(form) }}
					{% form_theme form 'form/fields.html.twig' %}
					{{ form_errors(form) }}
					{{ form_widget(form) }}
				{{ form_end(form) }}
				</div>
				{% else %}
			 <a class="waves-effect grey darken-3 btn" href="{{ path('users.login') }}">Jelentkezzen be</a>
			 <h5>Vagy</h5>
			 <a class="waves-effect grey darken-4 btn" href="{{ path('users.registration') }}">Regisztráljon</a>
			 <h5>A vásárlás befejezéséhez.</h5>
				{% endif %}
			</div>
		</div>
</div>
{% endblock %}
