{% extends 'base.html.twig' %}
{% block body %}

<div class="container contact">
	<div class="row">
		<div class="col s12">
			<h1 class="prname">Kapcsolat</h1>
			<hr>
			<div class="col s4 z-depth-5 center contact__margin contact__box">
        <i class="fa fa-phone large contact__icons" aria-hidden="true"></i>
				<p class="contact__title">(+36) 40 589 5412</p>
				<p class="contact__margin"><strong>Hétköznapokon: </strong>7:00 - 18:00-ig<br><strong>Szombaton: </strong>7:00 - 14:00-ig<br><strong>Vasárnap: </strong>-</p>
      </div>
			<div class="col s4 z-depth-5 center contact__margin contact__box">
        <i class="fa fa-envelope large contact__icons" aria-hidden="true"></i>
				<p class="contact__title">info@fashopper.hu</p>
				<p class="contact__margin">Termékekkel és megrendelésekkel<br>kapcsolatos kérdéseivel ide<br>forduljon!</p>
      </div>
			<div class="col s4 z-depth-5 center contact__margin contact__box">
        <i class="fa fa-shopping-bag large contact__icons" aria-hidden="true"></i>
				<p class="contact__title">Nyitvatartás</p>
				<p class="contact__margin"><strong>Hétköznapokon: </strong>7:00 - 18:00-ig<br><strong>Szombaton: </strong>7:00 - 14:00-ig<br><strong>Vasárnap: </strong>-</p>
      </div>
			<img src="{{ asset('img/cont_map.png') }}" alt="map" width="100%">
		</div>
	</div>
</div>

{% endblock %}
