{% extends 'base.html.twig' %}
{% block body %}

<div id="app">
		{% include 'includes/slider.html.twig' %}
		{% include 'includes/cmsblock.html.twig' %}
		<div class="container">
			  <div class="row">
						<h1 class="prname">Legkedvezményesebb termékeink</h1>
						<hr>
						{% for p in products %}
					      <div class="col s4 center">
					          <div class="fproductbox z-depth-5">
					              <a href="{{ path('product.data', {'id': p.getId()}) }}">
					                  <div class="fproductbox__title">{{ p.getName() }}</div>
					              </a>
					              <div class="panel-body">
					                  <a href="{{ path('product.data', {'id': p.getId()}) }}">
					                      {% if p.getImage() is not empty %}
					                          <img src="{{ asset('uploads/images/')}}{{p.getImage()}}" class="fproductbox__img" alt="Product Image">
					                      {% endif %}
																<span class="new badge grey darken-4 fbadgeQuantity" data-badge-caption="Darab">Raktáron: {{ p.getQuantity() }}</span>
																<span class="new badge grey darken-4 fbadgeDiscount" data-badge-caption=" ">-{{ p.getDiscount() }}%</span>
					                  </a>
					              </div>
					              <div class="panel-footer">
					                  <ul>
																<li><s>{{ p.getPrice() }} Ft</s></li> |
																<li class="fproductbox__price"> {{ p.getResultOfDiscount() }} Ft</li>
					                  </ul>
														<div class="js-cartadd fproductbox__input">
																<input type="number" max="{{p.getQuantity()}}" min="1" value="1"/>
																<a class="fproductbox__cart" href="{{ path('cartadd', {'id': p.getId(), 'count': '1'}) }}"><i class="fa fa-cart-plus" aria-hidden="true"></i> Kosárba</a>
														</div>
					              </div>
					          </div>
					      </div>
						{% endfor %}
			  </div>
		</div>
</div>

{% endblock %}
