{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	<div class="row">
		<h1 class="prname">Rendeléseim</h1>
		<hr>

		<table class="striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Szállítási mód</th>
					<th>Fizetési mód</th>
					<th>Végösszeg</th>
					<th>Dátum</th>
					<th>Számlázási cím</th>
					<th>Szállítási cím</th>
					<th>Megjegyzés</th>
					<th></th>
				</tr>
			</thead>
			{% for p in orders %}
					<tr>
						<td>{{ p.getId() }}</td>
						<td>{{ p.getShippingmethod() }}</td>
						<td>{{ p.getPaymentmethod() }}</td>
						<td>{{ p.getTotalprice() }} Ft</td>
						<td>{{ p.getDate()|date("m/d/Y") }}</td>
						<td>{{ p.getBillingaddress().completeAddressLine() }}</td>
						<td>{{ p.getShippingaddress().completeAddressLine() }}</td>
						<td>{{ p.getComment() }}</td>
						<td><a class="infolink" href="{{ path('shopdone', {'id': p.getId(), 'paymentmethod': p.getPaymentmethod(), 'shippingmethod': p.getShippingmethod()}) }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a></td>
					</tr>
			{% endfor %}
		</table>

	</div>

</div>

{% endblock %}
