{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
	<div class="row">
		<div class="col s12">
				<h1 class="prname">Köszönjük a vásárlást!</h1>
				<hr>
	      <p><b>Az ön rendelési azonosítója:</b> {{id}}</p>
	      {% if (paymentmethod == 'Előre utalás')%}
	          <h5><b>Utaláshoz szükséges adatok</b></h5>
						<p><b>Bank neve:</b> FreeMoney Bank </p>
	          <p><b>Számlaszám:</b> 0002 123456 511 </p>
	          <p><b>Megjegyzés:</b> fs{{id}}</p>
	      {% endif %}
	      {% if (shippingmethod != 'Személyes átvétel') %}
	          <h5>Futárunk hamarosan jelentkezik. A szállítás ingyenes.</h5>
	      {% else %}
	          <h5>Értesítjük amint megérkezett a rendelése.</h5>
	      {% endif %}
	      <p>Rendelését megtekintheti a <a class="infolink" href="{{ path('orders') }}">Megrendeléseim</a> menüpont alatt.</p>
		</div>
	</div>
</div>

{% endblock %}
