{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
		<div class="container">
				<div class="row">
						<div class="col s12">
								<h1 class="prname">Admin</h1>
								<hr>
				        <div class="col s4">
					          <div class="card blue-grey darken-1">
						            <div class="card-content white-text">
							              <span class="card-title">Megrendelések</span>
							              <p>Az összes eddigi megrendelés és a hozzájuk tartozó összes információ, melyeket a felhasználó
														a rendelés során kiválasztott.</p>
						            </div>
						            <div class="card-action">
							              <a href="{{ path('admin.orders.homepage') }}">Megrendelések megtekintése</a>
						            </div>
					          </div>
				        </div>
				        <div class="col s4">
					          <div class="card blue-grey darken-1">
						            <div class="card-content white-text">
							              <span class="card-title">Termékek</span>
							              <p>Az eddig felvitt termékek listája. A továbbiakban a már meglévő termékeket szerkeszthetjük,
														illetve újakat tölthetünk fel.</p>
						            </div>
						            <div class="card-action">
							              <a href="{{ path('admin.products.homepage') }}">Termékek szerkesztése / hozzáadása</a>
						            </div>
					          </div>
				        </div>
				        <div class="col s4">
					          <div class="card blue-grey darken-1">
						            <div class="card-content white-text">
							              <span class="card-title">Kategóriák</span>
														<p>Az eddig hozzáadott kategóriák listája. A továbbiakban a már meglévő kategóriákat szerkeszthetjük,
														illetve újakat hozhatunk létre.</p>
						            </div>
						            <div class="card-action">
							              <a href="{{ path('admin.categories.homepage') }}">Kategóriák szerkesztése / hozzáadása</a>
						            </div>
					          </div>
				        </div>
						</div>
				</div>
		</div>
</div>
{% endblock %}
