{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
	<div class="container">
		<div class="row">
			<h1 class="prname">Termékek listája</h1>
			<hr>
			<a class="waves-effect grey darken-3 btn" href="{{ path('admin.products.add') }}">Új termék hozzáadása</a>

			<table class="striped">
				<thead>
					<tr>
						<th>Név</th>
						<th>Mennyiség</th>
						<th>Egységár</th>
						<th>Feltöltötte</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				{% for p in products %}
						<tr>
							<td>{{ p.getName() }}</td>
							<td>{{ p.getQuantity() }} Db</td>
							<td>{{ p.getPrice() }}</td>
							<td>{{ p.getOwnerUser().getFullName() }}</td>
							<td><a class="waves-effect grey darken-3 btn" href="{{ path('admin.products.edit', {'id': p.id}) }}">Szerkesztés</a></td>
							<td><a class="waves-effect grey darken-3 btn" href={{ path('admin.products.delete', {'id': p.id}) }}>Törlés</a></td>
						</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
