$c-white: #ffffff;
$c-black: #000000;
$c-pictonBlue: #33b5e5;
$c-teaBlue: #03455b;
$c-polar: #FBFDFE;
$c-punch: #dd4b39;
$c-bostonBlue: #3298BD;
$c-eastBay: #43528D;
$c-saffronMango: #F8CC49;
$c-carnation: #F56467;
$c-athensGray: #F0F1F3;
$c-catalinaBlue: #0B427C;
$c-blueRibbon: #0072FF;
$c-cerulean: #00A6E2;
$c-conifer: #B9D648;
$c-emerald: #46BE8A;
$c-doveGray: #616161;
$c-emperor: #545454;
$c-wildsand: #F5F5F5;
$c-sanMarino: #3f51b5;
$c-poloBlue: #93A8D5;
$c-deYork: #81C784;
$c-tundora: #474747;
$c-gallery: #F0F0F0;
$c-pomegranate: #F44336;
$c-concreteGrey: #F2F2F2;


*{ margin: 0; padding: 0;}

body, html {
    background: #212121;
    font-size: 14px;
    color: $c-emperor;
    height: 100%;
    line-height: 23px;
}

a {
    &:hover {
        text-decoration: none;
    }

    &:link, &:visited, &:active {
        text-decoration: none;
        color: $c-white;
        font-size: 14px;
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

ul li {
    display: inline;
    list-style: none;
}

.product_image,
.category_image{
  	max-width:300px;
  	max-height: 150px;
}

hr {
  border: 0;
  height: 2px;
  margin: 0 0 45px 0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #ee1c25, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #ee1c25, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #ee1c25, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #ee1c25, #f0f0f0);
}

h1{
    margin: 45px 0 25px 0;
    color: #1b1b1b;
}

.slider {
    height: 650px !important;
}
.slides {
    height: 620px !important;
}

@import "components/menuitem";
@import "components/logo";
@import "components/contact";
@import "components/dropdown";
@import "components/footer";
@import "components/cmsblock";
@import "components/products";
@import "components/category";
@import "components/orders";
@import "components/login";
