{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
	<nav>
		<div class="nav-wrapper grey darken-2">
			<div class="container">
				<div class="col s12">
					<a href="{{ path('homepage') }}" class="breadcrumb">Főoldal</a>
					<a href="{{ path('categories.homepage') }}" class="breadcrumb">{{ product.getCategory().getName() }}</a>
					<a href="#" class="breadcrumb">{{ product.getName() }}</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container productdata">
	  <div class="row">
			<div class="col s12">
				<div class="col s5 productdata__img__box">
					{% if product.getImage() is not empty %}
						<img src="{{ asset('uploads/images/')}}{{product.getImage()}}" class="materialboxed productdata__img" alt="Product Image">
					{% endif %}
				</div>
				<div class="col s7">
					<div class="productdata__margin">
						<p class="productdata__title">{{ product.getName() }}</p>
						<p class="productdata__details__name">Raktáron: <span class="productdata__details">{{ product.getQuantity() }} db</span></p>
						{% if product.getPrice() != product.getResultOfDiscount() %}
							<p class="productdata__details__name">Eredeti ár: <span class="productdata__details"><s>{{ product.getPrice() }} Ft bruttó</s></span></p>
							<p class="productdata__details__name">Új ár: <span class="productdata__details">{{ product.getResultOfDiscount() }} Ft bruttó</span></p>
						{% else %}
							<p class="productdata__details__name">Ár: <span class="productdata__details">{{ product.getResultOfDiscount() }} Ft bruttó</span></p>
						{% endif %}
						<p class="productdata__details__name">Kategória: <span class="productdata__details">{{ product.getCategory().getName() }}</span></p>
						<p class="productdata__details__name">Leírás: <span class="productdata__details">{{ product.getDescription() }}</span></p>
						<!--<div class="js-cartadd">
							<input type="number" max="{{product.getQuantity()}}" min="1" value="1"/>
								<a href="{{ path('cartadd', {'id': product.getId(), 'count': '1'}) }}"><i class="fa fa-cart-plus" aria-hidden="true"></i> Kosárba</a>
						</div>-->
						<div class="quantity"><p class="productdata__details__name">Mennyiség: </p></div>
						<div class="js-cartadd-max">
								<div class="col s1 center">
					          <span>
					              <button type="button" class="btn waves-effect waves-teal btn-floating btn-number" disabled="disabled" data-type="minus" data-field="quant[1]">
					                  <i class="fa fa-minus" aria-hidden="true"></i>
					              </button>
					          </span>
								</div>

								<div class="col s2 inputhold center">
					          <input type="text" name="quant[1]" class="form-control input-number" max="{{product.getQuantity()}}" min="1" value="1">
								</div>

								<div class="col s1 center">
					          <span>
					              <button type="button" class="btn waves-effect waves-teal btn-floating btn-number" data-type="plus" data-field="quant[1]">
					                  <i class="fa fa-plus" aria-hidden="true"></i>
					              </button>
					          </span>
							  </div>

								<button class="btn waves-effect cartbutton red accent-4 cartad" name="action">
									<a class="to-cart" href="{{ path('cartadd', {'id': product.getId(), 'count': '1'}) }}"><i class="fa fa-cart-plus" aria-hidden="true"></i> Kosárba</a>
								</button>
						</div>

					</div>
				</div>
			</div>
	  </div>
	</div>
</div>
{% endblock %}
