{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
	<div class="container">
	  <div class="row">
			<h1 class="prname">Termékek</h1>
			<hr>
			{% for p in products %}
		    <div class="col s3 center">
					<div class="productbox z-depth-5">
							<a href="{{ path('product.data', {'id': p.getId()}) }}">
								<div class="productbox__title">{{ p.getName() }}</div>
								<div>
									{% if p.getImage() is not empty %}
										<img src="{{ asset('uploads/images/')}}{{p.getImage()}}"  class="productbox__img" alt="Product Image">
									{% endif %}
									<span class="new badge grey darken-4 badgeQuantity" data-badge-caption="Darab">Raktáron: {{ p.getQuantity() }}</span>
								</div>
							</a>
						<div class="panel-footer">
							<ul>
								<li class="productbox__price">{{ p.getResultOfDiscount() }} Ft</li>
								<!--<li>Kategória: {{ p.getCategory().getName() }}</li> |-->
							</ul>
						<div class="js-cartadd productbox__input">
								<input type="number" max="{{p.getQuantity()}}" min="1" value="1"/>
								<a class="productbox__cart" href="{{ path('cartadd', {'id': p.getId(), 'count': '1'}) }}"><i class="fa fa-cart-plus" aria-hidden="true"></i> Kosárba</a>
						</div>
						</div>
		      </div>
		    </div>
			{% endfor %}

	  </div>
	</div>

</div>
{% endblock %}
