.cmsbox {
    border: double 8px #bdbdbd;
    border-radius: 2px;
    padding: 20px;
    height: 180px;
    margin-top: 15px;
    background: #e0e0e0;

    &__title {
        color: #ee1c25;
    }

    &__text {
        font-weight: bold;
        text-align: center;
    }

    @media (max-width: 1440px) {
      &__title {
          font-size: 22px;
      }

      &__text {
          font-size: 14px;
      }
    }
}
