.contact{
	h1{
			margin: 45px 0 25px 0;
			color: #1b1b1b;
	}

	&__title {
			font-size: 28px;
			color: #f64951;
			margin: 20px 0;
	}

	&__margin {
			margin: 0 0 45px 0;
	}

	&__icons {
			margin-top: 45px;
	}

	&__box {
			border-radius: 50%;
			max-width: 30%;
			margin-left: 30px !important;
	}

	@media (max-width: 1400px) {
		&__box {
				margin-left: 25px !important;			
		}
	}
}
