/* Style The Dropdown Button */
.dropbtncss {
    background-color: #404041;
    color: white;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdownwrapper {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-contentcss {
    display: none;
    position: absolute;
    background-color: #616161;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 10;
    line-height: 30px;
}

/* Links inside the dropdown */
.dropdown-contentcss a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 0 !important;
}

/* Change color of dropdown links on hover */
.dropdown-contentcss a:hover {
  background-color: #d0d0d0;
  border-radius: 5px;
}

/* Show the dropdown menu on hover */
.dropdownwrapper:hover .dropdown-contentcss {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdownwrapper:hover .dropbtn {
    background-color: #3e8e41;
}

.lisize {
    width: 100%;
    padding: 0 10px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 900;
}


.inputsize {
    width: 50% !important;
}

.drpdwn-cart {
    &__title {
        font-size: 16px;
        font-weight: bolder;
        color: #eaeaea;
        text-align: center;
    }

    &__price {
        font-size: 14px;
        color: #fff;
        text-align: center;
    }

    &__delete {
        font-size: 15px !important;
        color: #960000 !important;
        text-align: center;
        margin: 5px 50px;
        background-color: #afafaf;
        border-radius: 5px;

        &__down {
            font-size: 15px !important;
            color: #960000 !important;
            text-align: center;
            margin: 5px 50px 35px 50px;
            background-color: #afafaf;
            border-radius: 5px;
        }
    }

    &__button {
        margin: 10px 50px;
        background-color: #d5c7c7;
        border-radius: 5px;
    }

    &__empty {
        font-size: 16px;
        color: #fff;
        margin-left: 38%;
    }
}

hr.drpcart {
  	height: 6px;
  	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
    margin: 0 !important;
}
