.social {
    font-size: 18px;

    &__facebook {
        color: #3B5998;
    }

    &__insta {
        color: #bc2a8d;
    }

    &__twitter {
        color: #00aced;
    }

    &__google {
        color: #dd4b39;
    }
}
