.login {
    width: 500px !important;
    margin: 0 0 50px 30%;
    padding: 50px;

    &__btn {
        margin-left: 36%;
    }

    &__regbtn {
        margin-left: 30%;
    }
}

@media (max-width: 1440px) {
    .login {
        width: 500px !important;
        margin: 0 0 50px 23%;
    }
}

.reg {
    &__noth {
        margin: 25px 0 15px 0;
    }
}
