.menu {
    background: #212121;
;
    &__log {
        text-align: right;
        padding: 12px 0 12px 0;

        &__name {
            color: $c-white;
        }
    }
}

.errormessage {
    border-radius: 0 !important;
    width: 100% !important;
    margin: 0 !important;
    font-size: 22px !important;
    background-color: #d3d11a !important;
    color: #ff0000 !important;
    text-transform: uppercase;
}
