.infolink {
    &:hover {
        text-decoration: none;
    }

    &:link, &:visited, &:active {
        text-decoration: none;
        color: #d50000 !important;
        font-size: 14px !important;
    }
}
