.prname {
    text-align: center;
    color: #1b1b1b;
}

/***************************
********FŐOLDAL BOX*********
***************************/

.fproductbox {
    margin: 20px;
    border-radius: 14px 0px 14px 0px;
    -moz-border-radius: 14px 0px 14px 0px;
    -webkit-border-radius: 14px 0px 14px 0px;
    border: 0px solid #000000;
    height: 560px;

    &__title {
        text-align: center;
        min-height: 50px;
        padding: 0 20px 0 20px;
        font-size: 17px;
        color: #1b1b1b;
    }

    &__img {
        width: 340px;
        height: 370px;
        border: solid 1px #000;
    }

    &__cart {
        padding: 10px 20px;
        border-radius: 5px;
        background: #960000;
        font-size: 16px;
        color: #fff;
        margin: 5px 0 10px 0;
    }

    &__input {
        width: 50%;
        margin-left: 25%;
    }

    &__price {
        font-size: 17px;
        font-weight: bolder;
    }
}

@media (max-width: 1440px) {
    .fproductbox {
        margin: 25px 0;
        height: 530px;

        &__img {
            width: 280px;
            height: 345px;
        }

        &__input {
            width: 60%;
            margin-left: 20%;
        }
    }
}

.fbadgeDiscount {
    margin: -30px 16px 0 0;
    position: relative;
    z-index: 1;
}

.fbadgeQuantity {
    margin: -377px 16px 0 0;
    position: relative;
    z-index: 1;
}

@media (max-width: 1440px) {
    .fbadgeDiscount {
        margin: -30px 9px 0 0;
    }

    .fbadgeQuantity {
        margin: -352px 9px 0 0;
    }
}

/***************************
*********EGYÉB BOX*********
***************************/

.productbox {
    margin: 20px;
    border-radius: 14px 0px 14px 0px;
    -moz-border-radius: 14px 0px 14px 0px;
    -webkit-border-radius: 14px 0px 14px 0px;
    border: 0px solid #000000;
    height: 460px;

    &__title {
        text-align: center;
        min-height: 50px;
        padding: 0 20px 0 20px;
        font-size: 17px;
        color: #1b1b1b;
    }

    &__img {
        width: 240px;
        height: 270px;
        border: solid 1px #000;
    }

    &__cart {
        padding: 10px 20px;
        border-radius: 5px;
        background: #960000;
        font-size: 16px;
        color: #fff;
        margin: 5px 0 10px 0;
    }

    &__input {
        width: 50%;
        margin-left: 25%;
    }

    &__price {
        font-size: 17px;
        font-weight: bolder;
    }
}

@media (max-width: 1440px) {
    .productbox {
        margin: 25px 0;
        height: 430px;

        &__img {
            width: 200px;
            height: 245px;
        }

        &__input {
            width: 60%;
            margin-left: 20%;
        }
    }
}

.badgeDiscount {
    margin: -30px 12px 0 0;
    position: relative;
    z-index: 1;
}

.badgeQuantity {
    margin: -277px 12px 0 0;
    position: relative;
    z-index: 1;
}

@media (max-width: 1440px) {
    .badgeDiscount {
        margin: -30px 9px 0 0;
    }

    .badgeQuantity {
        margin: -252px 9px 0 0;
    }
}

.cartbutton {
    padding: 0 10px;
}

.categname {
    font-size: 17px;
    color: #020202;
}

.productdata {
    margin-top: 60px;
    margin-bottom: 60px;

    &__img {
        width: 100%;

        &__box {
            min-height: 500px !important;
            background-color: #fff;
            border: solid 1px;
        }
    }

    &__margin {
        margin-left: 30px;
    }

    &__title {
        color: #454545;
        font-size: 27px;
        font-weight: bolder;
        margin-bottom: 35px;
    }

    &__details {
        color: #585858;
        font-size: 17px;
        font-weight:500;

        &__name {
            color: #454545;
            font-size: 17px;
            font-weight: bolder;
            margin-bottom: 20px;
        }
    }
}

.quantity {
    width: 90px;
    display: inline-block;
    float: left;
    margin-top: 8px;
}

.cartad {
    margin-left: 20px;
}
