{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
	<div class="container">
		<div class="row">
			<h1 class="prname">Kategória hozzáadása</h1>
			<hr>
			{{ form_start(form) }}
				{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
</div>
{% endblock %}
