{% extends 'base.html.twig' %}

{% block body %}
<div id="app">
	<div class="container">
		<div class="row">
			<h1 class="prname">Kategóriák</h1>
			<hr>
			<a class="waves-effect grey darken-3 btn" href="{{ path('admin.categories.add') }}">Új kategória hozzáadása</a>

			<table class="striped">
				<thead>
					<tr>
						<th>Kép</th>
						<th>Név</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				{% for c in categories %}
						<tr>
							<td>
								{% if c.getImage() is not empty %}
									<img src="{{ asset('uploads/images/categories/')}}{{ c.getImage() }}" class="img-responsive category_image" alt="Category Image">
								{% endif %}
							</td>
							<td>{{ c.getName() }}</td>
							<td><a class="waves-effect grey darken-3 btn" href="{{ path('admin.categories.edit', {'id': c.id}) }}">Szerkesztés</a></td>
							<td><a class="waves-effect grey darken-3 btn" href={{ path('admin.categories.delete', {'id': c.id}) }}>Törlés</a></td>
						</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
