<div class="row">
    <div class="container">
      <div class="col s12 m4">
        <div class="icon-block cmsbox">
          <h4 class="center cmsbox__title"><i class="fa fa-truck" aria-hidden="true"></i> Ingyenes kiszállítás</h4>
          <p class="light cmsbox__text">Minden 20 ezer forintot meghaladó rendelést ingyen juttatunk el Önhöz!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block cmsbox">
          <h4 class="center cmsbox__title"><i class="fa fa-money" aria-hidden="true"></i> Pénzvisszatérítés</h4>
          <p class="light cmsbox__text">8 napon belül minden hibás termék esetén azonnali pénzvisszatérítés!</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block cmsbox">
          <h4 class="center cmsbox__title"><i class="fa fa-undo" aria-hidden="true"></i> Garanciális csere</h4>
          <p class="light cmsbox__text">8 napon belül bármelyik webárúházunkban vásárolt termék cserélhető!</p>
        </div>
      </div>
    </div>
</div>
