<footer class="page-footer grey darken-3">
      <div class="container">
          <div class="row">
            <div class="col s6">
              <ul>
                <img src="{{ asset('img/logo2.png') }}" alt="Logo" width="350px">
                <h5 class="white-text">Férfi-, női- és gyermek ruházat - Minden, ami Divat!</h5>
              </ul>
            </div>
            <div class="col s3">
              <h5 class="white-text">Főoldal</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="{{ path('categories.homepage') }}">Kategóriák</a></li><br>
                <li><a class="grey-text text-lighten-3" href="{{ path('products.homepage') }}">Összes termék</a></li><br>
                <li><a class="grey-text text-lighten-3" href="{{ path('discount') }}">Kedvezmények</a></li><br>
                <li><a class="grey-text text-lighten-3" href="{{ path('contact') }}">Kapcsolat</a></li><br>
              </ul>
            </div>
            <div class="col s3">
              <h5 class="white-text">Információk</h5>
              <ul class="grey-text text-lighten-3">
                <li><i class="fa fa-map-marker" aria-hidden="true"></i> 6723 Szeged Csuhajja út 12/C</li><br>
                <li><i class="fa fa-envelope" aria-hidden="true"></i> info@fashopper.hu</li><br>
                <li><i class="fa fa-phone" aria-hidden="true"></i> (+36) 62 589 632</li><br>
                <li><i class="fa fa-mobile" aria-hidden="true"></i> (+36) 40 589 5412</li><br>
              </ul>
            </div>
          </div>
      </div>
      <div class="footer-copyright grey darken-4">
          <div class="container center">
          ©2016 Minden jog fenntartva!
          </div>
      </div>
</footer>
