<div class="slider">
    <ul class="slides">
      <li>
        <img src="{{ asset('img/slider1.jpg') }}">
        <div class="caption center-align">
          <h3>Kiegészítők széles választéka</h3>
          <h5 class="light grey-text text-lighten-3">Sapkák, napszemüvegek, táskák... Egyszóval minden, amire szükséged lehet.</h5>
        </div>
      </li>
      <li>
        <img src="{{ asset('img/slider2.jpg') }}">
        <div class="caption left-align">
          <h3>Hatalmas téli USÁNKA akció</h3>
          <h5 class="light grey-text text-lighten-3">Akár 50% kedvezmény 2017. január 15-ig, vagy ameddig a készlet tart.</h5>
        </div>
      </li>
      <li>
        <img src="{{ asset('img/slider3.jpg') }}">
        <div class="caption right-align">
          <h3>Megérkezett a 2016-os kötött pulcsi kollekció</h3>
          <h5 class="light grey-text text-lighten-3">Az idei tél slágere a szürke és a bézs.</h5>
        </div>
      </li>
      <li>
        <img src="{{ asset('img/slider4.jpg') }}">
        <div class="caption center-align">
          <h3>Nyakkendő akció!</h3>
          <h5 class="light grey-text text-lighten-3">Egyet fizet, kettőt kap!</h5>
        </div>
      </li>
    </ul>
  </div>
