<header>
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="large chip errormessage">
                {{ flash_message }}
                <i class="close fa fa-times" aria-hidden="true"></i>
        </div>
    {% endfor %}
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="{{ path('users.login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Bejelentkezés</a></li>
        <li><a href="{{ path('users.registration') }}"><i class="fa fa-lock" aria-hidden="true"></i> Regisztráció</a></li>
    </ul>
    <nav class="menu" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="{{ path('homepage') }}" class="brand-logo logo"><img src="{{ asset('img/logo.png') }}" alt="Logo" width="250px"></a>
          <ul class="right hide-on-med-and-down">
            <li>
                <a href="{{ path('categories.homepage') }}">Kategóriák</a>
            </li>
            <li>
                <a href="{{ path('products.homepage') }}">Összes termék</a>
            </li>
            <li>
                <a href="{{ path('discount') }}">Kedvezmények</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">Kapcsolat</a>
            </li>

            {% if not is_granted("ROLE_USER") %}

            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="fa fa-user" aria-hidden="true"></i></a></li>
            <li>
                <div class="dropdownwrapper">
                    <a class="dropbtncss" href="{{ path('cart') }}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"> Kosár </i>
                        {% set num = 0 %}
                        {% for item in cart.fillUserCart() %}
                            {% set num = num + item.count %}
                        {% endfor %}
                        ({{num}})
                    </a>
                    <div class="dropdown-contentcss">
                        <ul>
                            {% if cart.fillUserCart() != NULL %}
                            {% for item in cart.fillUserCart() %}
                            <li class="js-cartdelete lisize">
                                <hr class="drpcart">
                                <p class="drpdwn-cart__title">{{item.name}}</p>
                                <hr class="drpcart">
                                <p class="drpdwn-cart__price">Részösszeg: {{item.count}} * {{item.price}} Ft</p>
                                <input class="inputsize" type="number" max="{{item.count}}" min="1" value="1"/>
                                <a class="js-cartdelete__stack drpdwn-cart__delete" href="{{ path('cartdelete', {'id' : item.id, 'count' : 1}) }}"> Törlés Darabszámra </a>
                                <a class="drpdwn-cart__delete__down" href="{{ path('cartdelete', {'id' : item.id, 'count' : 0}) }}"> Összes Törlése </a>
                            </li><!--js-cartdelete-->
                            {% endfor %}
                        </ul>
                        <div class="lisize">
                            <span>Végösszeg:
                                {% if cart.fillUserCart() != NULL %}
                                {% set sum = 0 %}
                                {% for item in cart.fillUserCart() %}
                                    {% set sum = sum + (item.price * item.count) %}
                                {% endfor %}
                                    {{sum}}
                                {% endif %}
                            Ft</span>
                            <a class="drpdwn-cart__button" href="{{ path('cart') }}">Fizetés</a>
                        </div>
                        {% else %}
                        <li class="drpdwn-cart__empty">A kosár üres.</li>
                        {% endif %}
                    </div><!--dropdown-content-->
                </div><!--dropdown-->
            </li>

            {% else %}

            <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><i class="fa fa-user" aria-hidden="true"></i></a></li>
            <ul id="dropdown2" class="dropdown-content">
                {% if app.user.isAdmin() %}
                <li>
                    <a href="{{ path('admin.homepage') }}">Admin</a>
                </li>
                {% endif %}
                <li>
                    <a href="{{ path('orders') }}">Megrendeléseim</a>
                </li>
                <li>
                    <a href="{{ path('users.settings') }}">Beállítások</a>
                </li>
                <li>
                    <a href="{{ path('users.logout') }}">Kijelentkezés</a>
                </li>
            </ul>
            <li>
                <div class="dropdownwrapper">
                    <a class="dropbtncss" href="{{ path('cart') }}">
                        <i class="fa fa-shopping-cart" aria-hidden="true"> Kosár </i>
                        {% set num = 0 %}
                        {% for item in cart.fillUserCart() %}
                            {% set num = num + item.count %}
                        {% endfor %}
                        ({{num}})
                    </a>
                    <div class="dropdown-contentcss">
                        <ul>
                            {% if cart.fillUserCart() != NULL %}
                            {% for item in cart.fillUserCart() %}
                            <li class="js-cartdelete lisize">
                                <hr class="drpcart">
                                <p class="drpdwn-cart__title">{{item.name}}</p>
                                <hr class="drpcart">
                                <p class="drpdwn-cart__price">Részösszeg: {{item.count}} * {{item.price}} Ft</p>
                                <input class="inputsize" type="number" max="{{item.count}}" min="1" value="1"/>
                                <a class="js-cartdelete__stack drpdwn-cart__delete" href="{{ path('cartdelete', {'id' : item.id, 'count' : 1}) }}"> Törlés Darabszámra </a>
                                <a class="drpdwn-cart__delete__down" href="{{ path('cartdelete', {'id' : item.id, 'count' : 0}) }}"> Összes Törlése </a>
                            </li><!--js-cartdelete-->
                            {% endfor %}
                        </ul>
                        <div class="lisize">
                            <span>Végösszeg:
                                {% if cart.fillUserCart() != NULL %}
                                {% set sum = 0 %}
                                {% for item in cart.fillUserCart() %}
                                    {% set sum = sum + (item.price * item.count) %}
                                {% endfor %}
                                    {{sum}}
                                {% endif %}
                            Ft</span>
                            <a class="drpdwn-cart__button" href="{{ path('cart') }}">Fizetés</a>                        
                        {% else %}
                        <li class="drpdwn-cart__empty">A kosár üres.</li>
                        {% endif %}
                    </div><!--dropdown-content-->
                </div><!--dropdown-->
            </li><!--menu__item-->
            {% endif %}
          </ul>
        </div>
    </nav><!--menu-->
</header>
